.headerNavbar {
  height: 100px;
  background-color: #E8CAAF;
}

.quote1 {
  border-color: #E8CAAF;
  margin-top: 100px;
  margin-bottom: 100px;
}

.quote2 {
  border-color: #E8CAAF;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footerStyle {
  margin-top: 0 !important;
  background-color: #E8CAAF !important;
}

.section1 {
  background-color: #AAB3AB;
}

.section2 {
  background-color: #EEE0B7;
}

.section3 {
  background-color: #C4CBB7;
}

.section4 {
  background-color: #EEE0B7;
}

.header1 {
  background-color: #C4CBB7;
  padding-top: 200px;
  padding-bottom: 200px;
}

.header2 {
  background-color: #FFFFFF;
  padding-top: 200px;
  padding-bottom: 200px;
}

.header3 {
  background-color: #AAB3AB;
  padding-top: 200px;
  padding-bottom: 200px;
}

.header4 {
  background-color: #FFFFFF;
  padding-top: 200px;
  padding-bottom: 200px;
}

p {
  font-size: 20px;
}

.socialButton {
  background-color: #E8CAAF !important;
}

.outerPadding {
  padding: 15px 0;
}
