.container {
  width: 60%;
}

.headerNavbar {
  height: 100px;
  background-color: #A4BCC2;
}

.quote {
  border-color: #A4BCC2;
}

.quoteback {
  background-color: #E8F3F8;
  padding-top: 400px;
  padding-bottom: 400px;
}

.footerStyle {
  margin-top: 0 !important;
  background-color: #A4BCC2 !important;
}

.section1 {
  background-color: #DBE6EC;
  padding-top: 190px;
  padding-bottom: 190px;
}

.section2 {
  background-color: #DBE6EC;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section3 {
  background-color: #DBE6EC;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section4 {
  background-color: #DBE6EC;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header1 {
  background-color: #81A8B8;
  padding-top: 380px;
  padding-bottom: 380px;
}

.header2 {
  background-color: #C2CBCE;
  padding-top: 380px;
  padding-bottom: 380px;
}

.header3 {
  background-color: #81A8B8;
  padding-top: 380px;
  padding-bottom: 380px;
}

.header4 {
  background-color: #C2CBCE;
  padding-top: 380px;
  padding-bottom: 380px;
}

p {
  font-size: 20px;
}

.socialButton {
  background-color: #A4BCC2 !important;
}

.outerPadding {
  padding: 15px 0;
}

.anchorPos {
  display: block;
  position: relative;
  top: -99px;
  visibility: hidden;
}

.icon {
  font-size: 2em !important;
}

.contactInfo {
  background-color: #A4BCC2;
  padding: 1rem .75rem !important;
  margin-top: 30px;
}

.inline {
  display: inline-block;
  position: relative;
  bottom: 3px;
}
