.container {
  width: 60%;
}

.headerNavbar {
  height: 100px;
  background-color: #112255;
}

.quote {
  border-color: #112255;
}

.quoteback2 {
  background-color: #444466;
  padding-top: 450px;
  padding-bottom: 450px;
}

.footerStyle {
  margin-top: 0 !important;
  background-color: #112255 !important;
}

.section1 {
  background-color: #335588;
  padding-top: 190px;
  padding-bottom: 190px;
}

.section4 {
  background-color: #99aabb;
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
  font-size: 20px;
}

.outerPadding {
  padding: 15px 0;
}

.anchorPos {
  display: block;
  position: relative;
  top: -99px;
  visibility: hidden;
}

.anchorPos2 {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden;
}

.icon {
  font-size: 2em !important;
}

.contactInfo {
  background-color: #ddbb33;
  padding: 1rem .75rem !important;
  margin-top: 30px;
}

.inline {
  display: inline-block;
  position: relative;
  bottom: 3px;
}

.headerDisplay {
  position: fixed;
}

.nextButton {
  position: absolute;
  top: 80%;
  left: 48.8% !important;
  background-color: #335588 !important;
}

.gitHubButton {
  position: absolute;
  top: 60%;
  left: 38.8% !important;
  background-color: #112255 !important;
}

.linkedInButton {
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 28.8% !important;
  background-color: #112255 !important;
}

.mediumButton {
  position: absolute;
  top: 60%;
  left: 68.8% !important;
  background-color: #112255 !important;
}

.resumeButton {
  position: absolute;
  top: 60%;
  left: 58.8% !important;
  background-color: #112255 !important;
}

a {
  outline: none !important;
  color: #ddbb33;
}
