@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

html {
  overflow-y: scroll;
}

body {
	padding-top: 54px;
    opacity: 1;
    transition: 0.5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/*footer bottom */

footer {
  position: relative;
  margin-top: -120px; /* negative value of footer height */
  height: 120px;
  clear:both;
  padding-top:20px;
}

#main {
  overflow:auto;
  padding-bottom:120px; /* this needs to be bigger than footer height*/
}

#wrap {
  min-height: 100%;
}

html, body {
  height: 100%;
}